.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.lineComp {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

}
.button{
  width: 100px;
  height: 30px;
}
/* table
 */

 .employee-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.employee-table th,
.employee-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.employee-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
